.heading {
  color: $font-color--secondary;
  padding: $spacing--primary 0;
  text-align: center;
  font-weight: 900;
  font-size: rem(28px);
}

.subheading {
  color: $font-color--secondary;
  font-weight: 700;
  font-size: rem(20px);
}

p {
  margin-bottom: $spacing--secondary;
}


a[href]:not([class]) {
  position: relative;
  box-shadow: 0 1px 1px -1px;

  &:hover {
    text-shadow: 1px 1px #bbb;
  }
}

.list {
  margin-bottom: $spacing--secondary;
}

.list--inline-blocks {
  li {
    display: inline-block;
    background: tomato;
    color: #fff;
    border-radius: 0.4em;
    padding: 0.2em 0.4em;
    margin-bottom: 0.4em;
  }

  &--blue {
    li {
      background: $color--blue;
    }
  }
}

.button {
  @include button;
  background: teal;
}
